/ Dashboard
%section#dashboard
  %h1 Hello! What would you like to do?
  / Breadcumbs
  %ul#breadcrumbs
    %li
      %a{:href => "http://envato.parallaq.com/", :title => "Back to Homepage"} Home
    %li
      %a{:href => "#"} Projects
    %li
      %a{:href => "#"} Project's Assets
    %li
      %a{:href => "#"} Edit Assets
    %li Current Page
  / /Breadcumbs
  / Nav Shortcuts
  %ul.shortcuts
    %li.shortcut-contacts
      %a{:href => "#", :title => ""} Contacts
    %li.shortcut-sales
      %a{:href => "#", :title => ""} Sales
    %li.shortcut-tickets
      %a{:href => "#", :title => ""} Tickets
      %span.small-notification 3
    %li.shortcut-articles
      %a{:href => "#", :title => ""} Articles
    %li.shortcut-looong
      %a{:href => "#", :title => ""} Looooong Shorcut
    %li.shortcut-settings
      %a{:href => "#", :title => ""} Settings
      %span.small-notification 47
  / /Nav Shortcuts
/ /Dashboard
/ Full width content box with minimizer
%article.content-box.minimizer
  %header
    %h2 Tachyon Administration Template
    / Content Box Tab Navigation
    %nav
      %ul.tab-switch
        %li
          %a.default-tab.tooltip{:href => "#tab1", :title => "Switch to next tab"} Graph
        %li
          %a.tooltip{:href => "#tab2", :title => "Form styles"} Form
        %li
          %a.tooltip{:href => "#tab3", :title => "Sample tables"} Table
    / /Content Box Tab Navigation
  %section
    / Tab Content #tab1
    #tab1.tab.default-tab
      %h3 Employee Sales by Department
      / Sample Data table for jQuery Visualize plugin. Use attribute chart-type for different visualization
      %table.data{"data-chart" => "line"}
        %thead
          %tr
            %td
            %th{:scope => "col"} food
            %th{:scope => "col"} auto
            %th{:scope => "col"} household
            %th{:scope => "col"} furniture
            %th{:scope => "col"} kitchen
            %th{:scope => "col"} bath
        %tbody
          %tr
            %th{:scope => "row"} Mary
            %td 190
            %td 160
            %td 40
            %td 120
            %td 30
            %td 70
          %tr
            %th{:scope => "row"} Tom
            %td 3
            %td 40
            %td 30
            %td 45
            %td 35
            %td 49
          %tr
            %th{:scope => "row"} Brad
            %td 10
            %td 180
            %td 10
            %td 85
            %td 25
            %td 79
          %tr
            %th{:scope => "row"} Kate
            %td 40
            %td 80
            %td 90
            %td 25
            %td 15
            %td 119
      / /Sample Data
    / /Tab Content #tab1
    / Tab Content #tab2
    #tab2.tab
      %h3 Horizontal Form
      / Horizontal form (default)
      %form.horizontal-form
        / Inputs
        / Use class .small, .medium or .large for predefined size
        %fieldset
          %legend Legend
          %dl
            %dt
              %label Short Input
            %dd
              %input.small{:name => "", :type => "text", :value => ""}
                %p Short description of event
            %dt
              / You can add mandatory highlight automatically by class .mandatory or...
              %label.mandatory Medium Input
            %dd
              %input.medium{:name => "", :type => "text", :value => ""}
            %dt
              / ...manually by adding <span>*</span> into label
              %label
                Focused Input
                %span *
            %dd
              / Class .focused is only required for demo
              %input.medium.focused{:name => "", :type => "text", :value => ""}
            %dt
              %label Valid Input
            %dd
              %input.medium.valid{:name => "", :type => "text", :value => ""}
                %span.valid-side-note Valid text
            %dt
              %label Invalid Input
            %dd
              %input.medium.invalid{:name => "", :type => "text", :value => ""}
                %span.invalid-side-note Invalid text
            %dt
              %label Disabled Input
            %dd
              %input.medium{:disabled => "", :name => "", :type => "text", :value => "This input was disabled"}
            %dt
              %label Ghost Input
            %dd
              %input.ghost.medium{:name => "", :type => "text", :value => "This is ghost input acting like pure text"}
            %dt
              %label Large input
            %dd
              %input.large{:name => "", :type => "text", :value => ""}
                %p Short description of event
            %dt
              %label Text only
            %dd.text
              %p Sometimes you need pure text in forms. Use class .text for <dd> to correct text alignment.
            %dt
              %label File input
            %dd
              %input.fileupload{:name => "", :type => "file"}
                %p Max size 5Mb
            %dt
              %label Date input
            %dd
              %input.datepicker{:name => "", :type => "text", :value => ""}
            %dt
              %label Textarea
            %dd
              / Use class .wysiwyg for jQuery jWYSIWYG initiation
              %textarea.wysiwyg.large{:cols => "40", :name => "", :rows => "5"}
              %p Short description of event
        %fieldset.no-borders
          %legend Fieldset with .no-borders class
          %dl
            %dt.checkbox
              %label Checkbox A
            %dd
              %input{:name => "", :type => "checkbox"}/
            %dt.checkbox
              %label Checkbox B
            %dd
              %input{:name => "", :type => "checkbox"}/
            %dt.checkbox
              %label Checkbox C
            %dd
              %input{:name => "", :type => "checkbox"}/
        %fieldset
          %legend Choose one of these
          %dl
            %dt.radio
              %label Option 1
            %dd
              %input{:name => "test", :type => "radio"}/
            %dt.radio
              %label Option 2
            %dd
              %input{:name => "test", :type => "radio"}/
            %dt.radio
              %label Option 3
            %dd
              %input{:name => "test", :type => "radio"}/
        %fieldset
          %legend Choose one of these
          %dl
            %dt
              %label Select
            %dd
              %select{:name => "actions"}
                %option{:selected => ""} Choose an action
                %option{:value => "e"} Edit
                %option{:value => "r"} Remove
                %option{:value => "x"} Export
        %button{:type => "submit"} Submit
        or
        %a{:href => "#"} Cancel
      / /Horizontal form
      / Vertical form
      %h3 Vertical Form
      %form.vertical-form
        / Inputs
        / Use class .small, .medium or .large for predefined size
        %fieldset
          %legend Legend
          %dl
            %dt.clear-tm
              %label Short Input
            %dd
              %input.small{:name => "", :type => "text", :value => ""}
                %p Short description of event
            %dt
              %label Medium Input
            %dd
              %input.medium{:name => "", :type => "text", :value => ""}
            %dt
              %label Large input
            %dd
              %input.large{:name => "", :type => "text", :value => ""}
            %dt
              %label Text only
            %dd.text
              %p Sometimes you need pure text in forms. Use class .text for <dd> to correct text alignment.
        %fieldset
          %legend Check-in some of these
          %dl
            %dt.checkbox
              %label Checkbox A
            %dd.checkbox
              %input{:type => "checkbox"}/
            %dt.checkbox
              %label Checkbox B
            %dd.checkbox
              %input{:type => "checkbox"}/
            %dt.checkbox
              %label Checkbox C
            %dd.checkbox
              %input{:type => "checkbox"}/
        %fieldset
          %legend Choose one of these
          %dl
            %dt.radio
              %label Option 1
            %dd.radio
              %input{:name => "test", :type => "radio"}/
            %dt.radio
              %label Option 2
            %dd.radio
              %input{:name => "test", :type => "radio"}/
            %dt.radio
              %label Option 3
            %dd.radio
              %input{:name => "test", :type => "radio"}/
        %fieldset
          %legend Choose one of these
          %dl
            %dt.clear-tm
              %label Select
            %dd
              %select{:name => "actions"}
                %option{:selected => ""} Choose an action
                %option{:value => "e"} Edit
                %option{:value => "r"} Remove
                %option{:value => "x"} Export
        %button{:type => "submit"} View
        %button.gray{:type => "submit"} Submit
        or
        %a{:href => "#"} Cancel
      / /Vertical form
    / /Tab Content #tab2
    / Tab Content #tab3
    #tab3.tab
      %h3 Table with jQuery.dataTables
      / Sample jQuery DataTable
      %table.datatable
        %thead
          %tr
            %th Rendering engine
            %th Browser
            %th Platform(s)
            %th Engine version
            %th CSS grade
        %tbody
          %tr.gradeX
            %td Trident
            %td Internet Explorer 4.0
            %td Win 95+
            %td 4
            %td X
          %tr.gradeC
            %td Trident
            %td Internet  Explorer 5.0
            %td Win 95+
            %td 5
            %td C
          %tr.gradeA
            %td Trident
            %td Internet Explorer 5.5
            %td Win 95+
            %td 5.5
            %td A
          %tr.gradeA
            %td Trident
            %td Internet Explorer 6
            %td Win 98+
            %td 6
            %td A
          %tr.gradeA
            %td Trident
            %td Internet Explorer 7
            %td Win XP SP2+
            %td 7
            %td A
          %tr.gradeA
            %td Trident
            %td AOL browser (AOL desktop)
            %td Win XP
            %td 6
            %td A
          %tr.gradeA
            %td Gecko
            %td Firefox 1.0
            %td Win 98+ / OSX.2+
            %td 1.7
            %td A
          %tr.gradeA
            %td Gecko
            %td Firefox 1.5
            %td Win 98+ / OSX.2+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Firefox 2.0
            %td Win 98+ / OSX.2+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Firefox 3.0
            %td Win 2k+ / OSX.3+
            %td 1.9
            %td A
          %tr.gradeA
            %td Gecko
            %td Camino 1.0
            %td OSX.2+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Camino 1.5
            %td OSX.3+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Netscape 7.2
            %td Win 95+ / Mac OS 8.6-9.2
            %td 1.7
            %td A
          %tr.gradeA
            %td Gecko
            %td Netscape Browser 8
            %td Win 98SE+
            %td 1.7
            %td A
          %tr.gradeA
            %td Gecko
            %td Netscape Navigator 9
            %td Win 98+ / OSX.2+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.0
            %td Win 95+ / OSX.1+
            %td 1
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.1
            %td Win 95+ / OSX.1+
            %td 1.1
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.2
            %td Win 95+ / OSX.1+
            %td 1.2
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.3
            %td Win 95+ / OSX.1+
            %td 1.3
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.4
            %td Win 95+ / OSX.1+
            %td 1.4
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.5
            %td Win 95+ / OSX.1+
            %td 1.5
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.6
            %td Win 95+ / OSX.1+
            %td 1.6
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.7
            %td Win 98+ / OSX.1+
            %td 1.7
            %td A
          %tr.gradeA
            %td Gecko
            %td Mozilla 1.8
            %td Win 98+ / OSX.1+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Seamonkey 1.1
            %td Win 98+ / OSX.2+
            %td 1.8
            %td A
          %tr.gradeA
            %td Gecko
            %td Epiphany 2.20
            %td Gnome
            %td 1.8
            %td A
          %tr.gradeA
            %td Webkit
            %td Safari 1.2
            %td OSX.3
            %td 125.5
            %td A
          %tr.gradeA
            %td Webkit
            %td Safari 1.3
            %td OSX.3
            %td 312.8
            %td A
          %tr.gradeA
            %td Webkit
            %td Safari 2.0
            %td OSX.4+
            %td 419.3
            %td A
          %tr.gradeA
            %td Webkit
            %td Safari 3.0
            %td OSX.4+
            %td 522.1
            %td A
          %tr.gradeA
            %td Webkit
            %td OmniWeb 5.5
            %td OSX.4+
            %td 420
            %td A
          %tr.gradeA
            %td Webkit
            %td iPod Touch / iPhone
            %td iPod
            %td 420.1
            %td A
          %tr.gradeA
            %td Webkit
            %td S60
            %td S60
            %td 413
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 7.0
            %td Win 95+ / OSX.1+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 7.5
            %td Win 95+ / OSX.2+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 8.0
            %td Win 95+ / OSX.2+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 8.5
            %td Win 95+ / OSX.2+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 9.0
            %td Win 95+ / OSX.3+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 9.2
            %td Win 88+ / OSX.3+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera 9.5
            %td Win 88+ / OSX.3+
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Opera for Wii
            %td Wii
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Nokia N800
            %td N800
            %td -
            %td A
          %tr.gradeA
            %td Presto
            %td Nintendo DS browser
            %td Nintendo DS
            %td 8.5
            %td
              C/A
              %sup 1
          %tr.gradeC
            %td KHTML
            %td Konqureror 3.1
            %td KDE 3.1
            %td 3.1
            %td C
          %tr.gradeA
            %td KHTML
            %td Konqureror 3.3
            %td KDE 3.3
            %td 3.3
            %td A
          %tr.gradeA
            %td KHTML
            %td Konqureror 3.5
            %td KDE 3.5
            %td 3.5
            %td A
          %tr.gradeX
            %td Tasman
            %td Internet Explorer 4.5
            %td Mac OS 8-9
            %td -
            %td X
          %tr.gradeC
            %td Tasman
            %td Internet Explorer 5.1
            %td Mac OS 7.6-9
            %td 1
            %td C
          %tr.gradeC
            %td Tasman
            %td Internet Explorer 5.2
            %td Mac OS 8-X
            %td 1
            %td C
          %tr.gradeA
            %td Misc
            %td NetFront 3.1
            %td Embedded devices
            %td -
            %td C
          %tr.gradeA
            %td Misc
            %td NetFront 3.4
            %td Embedded devices
            %td -
            %td A
          %tr.gradeX
            %td Misc
            %td Dillo 0.8
            %td Embedded devices
            %td -
            %td X
          %tr.gradeX
            %td Misc
            %td Links
            %td Text only
            %td -
            %td X
          %tr.gradeX
            %td Misc
            %td Lynx
            %td Text only
            %td -
            %td X
          %tr.gradeC
            %td Misc
            %td IE Mobile
            %td Windows Mobile 6
            %td -
            %td C
          %tr.gradeC
            %td Misc
            %td PSP browser
            %td PSP
            %td -
            %td C
          %tr.gradeU
            %td Other browsers
            %td All others
            %td -
            %td -
            %td U
        %tfoot
          %tr
            %th Rendering engine
            %th Browser
            %th Platform(s)
            %th Engine version
            %th CSS grade
      / /Sample jQuery DataTable
      %h3.clearfix Regular Table
      / Basic Table
      %form.table-form
        %table
          %thead
            %tr
              %th
                %input.check-all{:type => "checkbox"}/
              %th  
              %th Rendering engine
              %th Browser
              %th Platform(s)
              %th Version
              %th Tags
              %th Actions
          %tbody
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td Internet Explorer 4.0
              %td Win 95+
              %td 4
              %td
                %span.tag.red High
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td Internet  Explorer 5.0
              %td Win 95+
              %td 5
              %td
                %span.tag.orange Medium
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td Internet Explorer 5.5
              %td Win 95+
              %td 5.5
              %td
                %span.tag.green Low
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td Internet Explorer 6
              %td Win 98+
              %td 6
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td Internet Explorer 7
              %td Win XP SP2+
              %td 7
              %td
                %span.tag.blue #337
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Trident
              %td AOL browser (AOL desktop)
              %td Win XP
              %td 6
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Firefox 1.0
              %td Win 98+ / OSX.2+
              %td 1.7
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Firefox 1.5
              %td Win 98+ / OSX.2+
              %td 1.8
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Firefox 2.0
              %td Win 98+ / OSX.2+
              %td 1.8
              %td
                %span.tag.black Foo
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Firefox 3.0
              %td Win 2k+ / OSX.3+
              %td 1.9
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Camino 1.0
              %td OSX.2+
              %td 1.8
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
            %tr
              %td
                %input{:type => "checkbox"}/
              %td
                / Table actions
                %a.toggle-table-switch.tooltip{:href => "#", :title => "Show options"} Options
                %ul.table-switch
                  %li
                    %a{:href => "#"} view
                  %li
                    %a{:href => "#"} edit
                  %li
                    %a{:href => "#"} delete
                / /Table actions
              %td Gecko
              %td Camino 1.5
              %td OSX.3+
              %td 1.8
              %td
                %span.tag.gray Closed
              %td
                %ul.actions
                  %li
                    %a.view.tooltip{:href => "#", :title => "View Item"} view
                  %li
                    %a.edit.tooltip{:href => "#", :title => "Edit Item"} edit
                  %li
                    %a.delete.tooltip{:href => "#", :title => "Delete Item"} delete
          %tfoot
            %tr
              %td{:colspan => "8"}
                / Pagination
                %ul.pagination
                  %li
                    %a.button.gray{:href => "#"} « first
                  %li
                    %a.button.gray{:href => "#"} < next
                  %li.hellip …
                  %li
                    %a.button.gray{:href => "#"} 5
                  %li
                    %a.button.gray{:href => "#"} 6
                  %li
                    %a.button{:href => "#"} 7
                  %li
                    %a.button.gray{:href => "#"} 8
                  %li
                    %a.button.gray{:href => "#"} 9
                  %li.hellip …
                  %li
                    %a.button.gray{:href => "#"} prev >
                  %li
                    %a.button.gray{:href => "#"} last »
                / /Pagination
      / /Basic Table
    / /Tab Content #tab3
  %footer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet nisi ac risus tincidunt gravida. Cras imperdiet mattis nisl et suscipit.
/ /Full width content box with minimizer
.clearfix
/ We're really sorry for this, but because of IE7 we still need separated div with clearfix
/ Half width content box
%article.content-box.col-2
  %header
    %h2 Headline H2
    / Content Box Actions
    %nav
      %ul.button-switch
        %li
          %a.button{:href => "#"} View
        %li
          %a.button{:href => "#"} Edit
        %li
          %a.button.gray{:href => "#"} Delete
    / /Content Box Actions
  %section
    / Class .bb instantly adds 1px bottom border
    %h3.bb Headline H3
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit. Donec adipiscing sem erat. Nunc at dui id purus lacinia tincidunt sit amet vel erat.
    / Image Minimenu Actions
    .image-frame.right
      %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
        %ul.image-actions
          %li.image-actions-header Options
          %li
            %a{:href => "#"} View
          %li
            %a{:href => "#"} Edit
          %li
            %a{:href => "#"} Delete
    / /Image Minimenu Actions
    %ol
      %li Lorem ipsum dolor sit amet
      %li
        %strong Consectetur adipiscing elit
      %li
        %em Suspendisse et dignissim metus
      %li
        Maecenas id
        %a{:href => "#"} augue ac metus
        tempus
      %li
        Nunc at dui id purus lacinia
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Suspendisse et dignissim metus
          %li
            Phasellus aliquam
            %ol
              %li Lorem ipsum dolor sit amet
              %li Consectetur adipiscing elit
      %li Sed pharetra placerat est suscipit
    %h4 Headline H4
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit. Donec adipiscing sem erat. Nunc at dui id purus lacinia tincidunt sit amet vel erat.
    %h5 Headline H5
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %code Yes, the <code> tag is styled too!
      Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit. Donec adipiscing sem erat. Nunc at dui id purus lacinia tincidunt sit amet vel erat.
/ /Half width content box
/ Half width content box with margin clearing class
%article.content-box.col-2.clear-rm
  %header
    %h2 Stats and Progress Bars
    / Content Box Options
    %nav
      %a.toggle-options-switch.button.gray{:href => "#"}
        %img{:alt => "Options", :src => "img/icons/icon_options.png"}/
      %ul.options-switch
        %li
          %a{:href => "#"} View
        %li
          %a{:href => "#"} Edit
        %li
          %a{:href => "#"} Delete
    / /Content Box Options
  %section
    / Stats Summary
    %ul.stats-summary
      %li
        %strong.stats-count 17
        %p New registrations
        %a.button.stats-view.tooltip{:href => "#", :title => "View new registrations"} View
      %li
        %strong.stats-count 89
        %p New visitors
        %a.button.stats-view.tooltip{:href => "#", :title => "View new visitros"} View
      %li
        %strong.stats-count 346
        %p New sales
        %a.button.stats-view.tooltip{:href => "#", :title => "View new sales"} View
      %li
        %strong.stats-count 266
        %p New orders
        %a.button.stats-view.tooltip{:href => "#", :title => "View new orders"} View
      %li
        %strong.stats-count 1024
        %p New requests
        %a.button.stats-view.tooltip{:href => "#", :title => "View new requests"} View
    / /Stats Summary
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam.
    / Progress Bar
    .progress-bar.green.small
      %div{:style => "width:49%;"}
        %span
          49
          %sup %
    / /Progress Bar
    / Progress Bar
    .progress-bar.red.medium
      %div{:style => "width:67%;"}
        %span
          67
          %sup %
    / /Progress Bar
    / Progress Bar
    .progress-bar.blue.large
      %div{:style => "width:80%;"}
        %span
          80
          %sup %
    / /Progress Bar
    / Progress Bar
    .progress-bar.black.huge
      %div{:style => "width:80%;"}
        %span
          80
          %sup %
    / /Progress Bar
/ /Half width content box with margin clearing class
.clearfix
/ We're really sorry for this, but because of IE7 we still need separated div with clearfix
/ Full width content box
%article.content-box
  %header
    %h2 Notifications, Image Gallery and more!
    / Content Box Search
    %nav
      %form.content-box-header-search{:action => "http://envato.parallaq.com/"}
        %input.content-box-header-search-input{:name => "", :type => "text"}
          %button.content-box-header-search-btn Search
    / /Content Box Search
  %section
    / Side Tab Container
    .sidetabs
      / Side Tab Navigation
      %nav.sidetab-switch
        %ul
          %li
            %a.default-sidetab{:href => "#sidetab1"} Notifications
          %li
            %a{:href => "#sidetab2"} Image Gallery
          %li
            %a{:href => "#sidetab3"} Tickets
        %p Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat.
      / /Side Tab Navigation
      / Side Tab Content #sidetab1
      #sidetab1.sidetab.default-sidetab
        %h3 Notifications
        / Notification
        .notification.error
          %a.close-notification.tooltip{:href => "#", :title => "Hide Notification"} x
          %h4 Error notification
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
          %a.show-notification-details{:href => "#"} ► Show Details
          %ul.notification-details
            %li Lorem ipsum dolor sit amet
            %li Suspendisse et dignissim metus
            %li Maecenas id augue ac metus tempus
            %li Sed pharetra placerat est suscipit
            %li Phasellus aliquam males
            %li Nunc at dui id purus lacinia tincidunt
        / /Notification
        / Notification
        .notification.success
          %a.close-notification.tooltip{:href => "#", :title => "Hide Notification"} x
          %h4 Success notification
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
          %a.show-notification-details{:href => "#"} ► Show Details
          %ul.notification-details
            %li Lorem ipsum dolor sit amet
            %li Suspendisse et dignissim metus
            %li Maecenas id augue ac metus tempus
            %li Sed pharetra placerat est suscipit
            %li Phasellus aliquam males
            %li Nunc at dui id purus lacinia tincidunt
        / /Notification
        / Notification
        .notification.information
          %a.close-notification.tooltip{:href => "#", :title => "Hide Notification"} x
          %h4 Information notification
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.
          %a.show-notification-details{:href => "#"} ► Show Details
          %ul.notification-details
            %li Lorem ipsum dolor sit amet
            %li Suspendisse et dignissim metus
            %li Maecenas id augue ac metus tempus
            %li Sed pharetra placerat est suscipit
            %li Phasellus aliquam males
            %li Nunc at dui id purus lacinia tincidunt
        / /Notification
        / Notification
        .notification.attention
          %a.close-notification.tooltip{:href => "#", :title => "Hide Notification"} x
          %h4 Attention notification
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam.
        / /Notification
        / Notification
        .notification.note
          %a.close-notification.tooltip{:href => "#", :title => "Hide Notification"} x
          %h4 Note
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis.
        / /Notification
      / /Side Tab Content #sidetab1
      / Side Tab Content #sidetab2
      #sidetab2.sidetab
        %h3 Image Gallery
        / Inline Image Gallery
        %ul.image-gallery
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li.image-actions-header Options
                %li
                  %a{:href => "#"} View
                %li
                  %a{:href => "#"} Edit
                %li
                  %a{:href => "#"} Delete
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li.image-actions-header Options
                %li
                  %a{:href => "#"} View
                %li
                  %a{:href => "#"} Edit
                %li
                  %a{:href => "#"} Delete
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li
                  %a{:href => "#"} View
                %li
                  %a{:href => "#"} Edit
                %li
                  %a{:href => "#"} Delete
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li
                  %a{:href => "#"} View
                %li
                  %a{:href => "#"} Edit
                %li
                  %a{:href => "#"} Delete
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li.view
                  %a{:href => "#"} View
                %li.delete
                  %a{:href => "#"} Delete
          %li.image-frame
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
              %ul.image-actions
                %li.view
                  %a{:href => "#"} View
                %li.delete
                  %a{:href => "#"} Delete
          %li
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
          %li
            %img{:alt => "Sample Image", :src => "img/_sample-data/sample_image.jpg"}
        / /Inline Image Gallery
      / /Side Tab Content #sidetab2
      / Side Tab Content #sidetab3
      #sidetab3.sidetab
        %h3 Tickets
        / Tickets
        %ul.tickets
          / Ticket Headers
          %li.ticket-header
            %ul
              %li.ticket-header-ticket Ticket
              %li.ticket-header-activity Activity
              %li.ticket-header-user User
              %li.ticket-header-priority Priority
              %li.ticket-header-age Age
          / /Ticket Headers
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13664
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Vestibulum luctus aliquam feugiat. Donec porta
                  %p New Ticket
                %li.ticket-data-user
                  %strong Duke Smith
                  Best Deals Ltd.
                %li.ticket-data-priority
                  %span.tag.red High
                %li.ticket-data-age
                  16 hours
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Donec porta interdum placerat
              %dl
                %dt Opened:
                %dd
                  %strong 16 hours ago
                %dt Last updated:
                %dd
                  %strong 11 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Jamie
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13663
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Nulla aliquam sapien semper mauris consectetur
                  %p New Ticket
                %li.ticket-data-user
                  %strong Mathew Kulas
                  Adept Ltd.
                %li.ticket-data-priority
                  %span.tag.red High
                %li.ticket-data-age
                  22 hours
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Nulla aliquam sapien semper mauris consectetur suscipit
              %dl
                %dt Opened:
                %dd
                  %strong 22 hours ago
                %dt Last updated:
                %dd
                  %strong 22 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Mathew
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Vivamus sit amet sapien est. Vestibulum at mattis orci. Duis sit amet tincidunt nisi. Morbi at porttitor nunc. Aliquam lorem massa, dictum vel consequat vitae, sodales nec lectus. Nam metus libero, mollis nec iaculis sit amet, eleifend ac orci. Sed mollis mollis luctus.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13662
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Sed pharetra placerat est suscipit sagittis
                  %p New Ticket
                %li.ticket-data-user
                  %strong Ted Rollin
                  Systel, Inc.
                %li.ticket-data-priority
                  %span.tag.orange Medium
                %li.ticket-data-age
                  1 day
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Sed pharetra placerat est suscipit sagittis
              %dl
                %dt Opened:
                %dd
                  %strong 1 day ago
                %dt Last updated:
                %dd
                  %strong 23 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Ted Rollin
                %dt Assigned to:
                %dd
                  %strong Javier Zulauf
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Quisque ut eleifend lorem. Ut bibendum lobortis ante, in blandit quam aliquet eget. Donec tortor risus, vestibulum id dictum laoreet, condimentum vel nisi. Ut euismod laoreet justo vel iaculis. Phasellus at lacus eget magna laoreet euismod et vitae elit.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13661
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Quisque ac nisl vitae sapien porta luctus eget sed
                  %p New Ticket
                %li.ticket-data-user
                  %strong Hugh Tilman
                  Sunix Consulting
                %li.ticket-data-priority
                  %span.tag.orange Medium
                %li.ticket-data-age
                  2 days
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Quisque ac nisl vitae sapien porta luctus eget sed dui
              %dl
                %dt Opened:
                %dd
                  %strong 2 days ago
                %dt Last updated:
                %dd
                  %strong 11 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Hugh Tilman
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Duis viverra quam tempor felis suscipit sit amet interdum erat pulvinar. Nulla nec quam quis mi pharetra tincidunt et in neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris a cursus velit.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13660
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Etiam ipsum justo, venenatis a facilisis vel
                  %p New Ticket
                %li.ticket-data-user
                  %strong Selena Cartier
                  Sunix Consulting
                %li.ticket-data-priority
                  %span.tag.orange Medium
                %li.ticket-data-age
                  2 days
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Etiam ipsum justo, venenatis a facilisis vel, posuere a ligula
              %dl
                %dt Opened:
                %dd
                  %strong 2 days ago
                %dt Last updated:
                %dd
                  %strong 22 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Selena
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13659
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Vivamus sit amet sapien est
                  %p New Ticket
                %li.ticket-data-user
                  %strong Javier Zulauf
                  Systectio USA
                %li.ticket-data-priority
                  %span.tag.green Low
                %li.ticket-data-age
                  3 days
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Vivamus sit amet sapien est
              %dl
                %dt Opened:
                %dd
                  %strong 3 days ago
                %dt Last updated:
                %dd
                  %strong 11 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Javier Zulauf
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Aenean magna massa, condimentum id tristique eu, accumsan vel enim. Morbi et risus vel quam convallis eleifend non nec neque. Sed pellentesque malesuada interdum. Nunc malesuada nulla in velit posuere porta. Ut nec turpis nibh, ut luctus magna.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13658
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Donec porta interdum placerat!
                  %p New Ticket
                %li.ticket-data-user
                  %strong Matt Muench
                  Systems GmbH
                %li.ticket-data-priority
                  %span.tag.green Low
                %li.ticket-data-age
                  3 days
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Donec porta interdum placerat!
              %dl
                %dt Opened:
                %dd
                  %strong 3 days ago
                %dt Last updated:
                %dd
                  %strong 20 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Mathew
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Aliquam gravida sapien sit amet quam consectetur vitae vehicula dolor tempor. Etiam vitae purus sem. Aenean imperdiet, ante a interdum vehicula, justo nulla rutrum dolor, a adipiscing turpis orci vitae nisi. Cras sit amet tortor a ligula feugiat placerat sit amet porttitor magna.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
          / Ticket Data
          %li.ticket-data
            / Ticket Overview
            .ticket-overview
              %ul
                %li.ticket-data-ticket
                  \#13657
                %li.ticket-data-activity
                  %a.ticket-open-details{:href => "#"} Curabitur varius suscipit nibh, eu venenatis lectus
                  %p New Ticket
                %li.ticket-data-user
                  %strong Max Granata
                  Adobell, Inc
                %li.ticket-data-priority
                  %span.tag.green Low
                %li.ticket-data-age
                  3 days
            / /Ticket Overview
            / Ticket Details
            .ticket-details
              %h4 Curabitur varius suscipit nibh, eu venenatis lectus sodales sit amet
              %dl
                %dt Opened:
                %dd
                  %strong 3 days ago
                %dt Last updated:
                %dd
                  %strong 11 hours ago
                %dt Milestone:
                %dd
                  %strong N/A
                %dt.clear Reported by:
                %dd
                  %strong Max Granata
                %dt Assigned to:
                %dd
                  %strong Anybody
                %dt Tags:
                %dd
                  %strong N/A
              %h5 Description
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at nisi orci, eget congue orci. Aliquam dictum venenatis erat, vel porta massa pellentesque et. Sed blandit, odio sit amet sollicitudin iaculis, quam nisi sodales enim, ut blandit enim nisi in urna.
              %ul.ticket-details-actions
                %li
                  %a.button.gray{:href => "#"} Update ticket
                %li
                  %a.button.red{:href => "#"} Close ticket
            / /Ticket Details
          / /Ticket Data
        / /Tickets
      / /Side Tab Content #sidetab3
    / /Side Tab Container
/ /Full width content box