%h4 Resend unlock instructions
= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => {:method => :post}) do |f|
  = f.input :email
  = f.submit "Resend unlock instructions"
