%h4 Resend unlock instructions
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => {:method => :post}) do |f|
  %dl
    %dt= f.label :email
    %dd= f.text_field :email
  = f.submit "Resend unlock instructions"
