body.login {
  background: url(../images/login/login_bg.jpg) no-repeat top center;

  #wrapper {
    margin: 0px auto;
    width: 508px;
  }
  
  #logo  {
    float: left;
    height: 35px;
    margin: 145px 0 0 15px;
  }
  
  a  {
    color: #161616;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    &:hover {
      color: #fff;
    }
  }
}

$login-height: 272px;

#login {
  background: url(../images/login/loginbox_bg.png) no-repeat;
  position: relative;
  width: 508px;
  padding-top: 60px;
  height: $login-height - 60px;
  clear: both;

  font-size: 12px;
  line-height: 12px;
  
  .notice {
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 auto 20px auto;
    width: 380px;
    text-align: center;
  }

  .inner  {
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 350px;
  }
  
  abbr {
    display: none;
  }
  
  .inline-errors, .inline-errors-left {
    display: none;
  }
  
  
  $label-width: 95px;
  
  #error_explanation {
    h2 {
      font-size: 70%;
      margin: 0px;
    }
    
    ul {
      list-style-type: circle;
      padding-left: 10px;
    }
    
    li {
      font-size: 70%;
      list-style-type: circle;
    }
  }
  
  li {
    padding-bottom: 6px;
    
    label  {
      display: inline-block;
      width: $label-width;
      min-width: $label-width;
      
      color: #161616;
      cursor: pointer;
      font-family: Tahoma;
      font-weight: bold;
      line-height: 12px;
    }
    
    input {
      background: url(../images/login/inp_login.gif) no-repeat;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 28px;
      padding: 6px 6px 0 10px;
      width: 204px;
    }
  }
  
  li.boolean {
    padding-left: $label-width;
    label {
      width: auto;
    }
    input {
      width:13px;
      height:13px;
      /*margin: 5px 0;*/
      margin-right: 10px;
    }  
  }

  li.commit {
    padding-left: $label-width;
    input {
      background: url(../images/login/submit_login.gif) no-repeat;
      border: none;
      cursor: pointer;
      height: 29px;
      text-indent: -3000px;
      width: 73px;
      &:hover  {
        background: url(../images/login/submit_login.gif) no-repeat 0 -29px;
      }
    }
  }
  
  .links {
    position: absolute;
    right: 40px;
    bottom: 30px;
    text-align: right;
    
    a {
      display: block;
      color: #161616;
      font-family: Tahoma;
      font-size: 11px;
      font-weight: bold;
      line-height: 12px;
      &:hover {
        color: #fff;
      }
    }
  }
}

#login.big {
  padding-top: 20px;
  height: $login-height - 20px;
}
