- add_breadcrumb "New ticket", new_ticket_path

%article.content
  %header
    %h2 New ticket
    %nav
      %ul.button-switch
        %li= link_to "New ticket", new_ticket_path, :class => "button"
  %section
    = render 'form'
  %footer
    = link_to 'Back', tickets_path
