= workspace "Zones" do
  %table#zones.display.datatable{"data-remote" => zones_path(:datatables)}
    %thead
      %tr
        %th{"data-member" => "name", :sort => true, :filter => true, :type => :link, :link => zone_path(":id")} Name
    %tbody
