body.devise {
  margin: 40px auto 0;
  width: 400px;
  
  header {
    nav {
      text-align: right;
    }
  }
  
  form {
    text-align: center;
    
    dl {
      text-align: left;
    }
    
    dt {
      width: 110px;
      
      &.checkbox {
        width: 200px;
        left: 150px;
        top: -2px;
      }
      &.remember {
        top: -12px;
      }
    }
    
    dd {
      left: 125px;
      &.remember {
        top: -35px;
      }
    }
    
    input[type=text], input[type=password] {
      width: 200px;
    }
    
    input[type=submit], button {
      text-align: center;
    }
  }
  
  .links {
   text-align: right;
    margin: 0;
    li {
      background: none;
      list-style: none;
      padding: 2px;
      a {
        text-decoration: none;
      }
    }
  }
} 
