body.devise {
  margin: 40px auto 0;
  width: 400px;
  
  header {
    nav {
      text-align: right;
    }
  }
  
  form {
    text-align: center;
    
    > li {
      margin-bottom: 0 !important;
      
      label {
        width: 110px;
        text-align: left;
      }
      
      &.boolean {
        padding-left: 130px;
        
        label {
          width: 200px;
        }
        
        input {
          margin-right: 5px;
        }
      } 
    }
    
    input[type=email], input[type=password] {
      width: 200px;
    }
    
    input[type=submit], button {
      text-align: center;
    }
  }
  
  .links {
   text-align: right;
    margin: 0;
    li {
      background: none;
      list-style: none;
      padding: 2px;
      a {
        text-decoration: none;
      }
    }
  }
} 
