body.login {
  height: 0;
}

.login-box {
  height: 345px;
  margin: 0 auto;
  margin-top: -185px;
  margin-left: -175px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:350px;
}

.login-box-top {
  background-color: #FFFFFF;
  background-image: -o-linear-gradient(top,  #E8E8E8 0%,  #F6F6F6 60%);
  background-image: -ms-linear-gradient(top,  #E8E8E8 0%,  #F6F6F6 60%);
  background-image: -moz-linear-gradient(top,  #E8E8E8 0%,  #F6F6F6 60%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E8E8E8), color-stop(0.5, #F6F6F6));
  background-image: -webkit-linear-gradient(top,  #E8E8E8 0%,  #F6F6F6 60%);
  background-image: linear-gradient(top,  #E8E8E8 0%,  #F6F6F6 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E8E8E8, endColorstr=#F6F6F6);
  border: 1px solid #AAA;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0,0,0,0.7) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.7) 0px 0px 3px;
  padding:10px;
}

.login-box form {
  border-bottom:1px solid #DDD;
  margin:10px 0 20px 0;
}

.login-box ul {
  list-style-type: none;
  padding: 0;
}
 
