.tab {
  clear: both;
  display: none;
  overflow: hidden;
  &.default {
    display: block;
  }
}

nav ul.tabs {
  display: block;
  position: relative;
  top: 10px;
  
  li {
    float: left;
    list-style: none;
    background: none;
    margin-right: 15px;
    padding: 0;
    
    a {
      display: block;
      padding: 0 3px 21px;
      height: 16px;
      &.current {
        background-position: bottom center;
        background-repeat: no-repeat;
        background-image: url("icon_tabs.png");
      }
    }
  
    &:last-child { 
      margin-right:0;
      a { padding-right:0; }
    }
  }
}
