- @sites.each do |site|
  %tr{:class => cycle(:odd, :even)}
    %td= link_to site.name, site
    %td
      %ul.actions
        %li= link_to t('Show'), site, :class => "view tooltip"
        %li= link_to t('Edit'), edit_site_path(site), :class => "edit tooltip"
        %li= link_to t('Destroy'), site, :method => :delete, :confirm => t('are_you_sure'), :class => "delete tooltip"
