.table
  = menu_bar do |mainbar|
    - mainbar.menu :home, 'Home', dashboard_index_path do |homebar|
      - homebar.menu :overview, 'Overview', dashboard_index_path, :match_url => "^/(dashboard/index){0,1}$"
    - mainbar.menu :customers, 'Customers', customers_path
    - mainbar.menu :resources, 'Resources', '#' do |resourcesbar|
      - resourcesbar.menu :hosts, 'Hosts', hosts_path
      - resourcesbar.menu :networkds, 'Networks', networks_path
      - resourcesbar.menu :slices, 'Slices', slices_path
      - resourcesbar.menu :databases, 'Databases', databases_path
      - resourcesbar.menu :sites, 'Sites', sites_path
.clear
