.table
  = menu_bar do |mainbar|
    - mainbar.menu :home, 'Home', dashboard_path, :match_url => "^/$" do |homebar|
      - homebar.menu :overview, 'Dashboard', dashboard_path
    - mainbar.menu :customers, 'Customers', customers_path
    - mainbar.menu :resources, 'Resources', '#' do |resourcesbar|
      - resourcesbar.menu :hosts, 'Hosts', hosts_path
      - resourcesbar.menu :networkds, 'Networks', networks_path
      - resourcesbar.menu :slices, 'Slices', slices_path
      - resourcesbar.menu :products, 'Products', products_path
      - resourcesbar.menu :databases, 'Databases', databases_path
      - resourcesbar.menu :sites, 'Sites', sites_path
    - mainbar.menu :settings, 'Settings', '#', :match_url => "^/(settings|users|roles)" do |settingsbar|
      - settingsbar.menu :users, 'Users', users_path
.clear
