#flash
  - flash.each do |key, value|
    - class_name = key.to_s
    - class_name = 'error' if class_name == 'alert'
    - class_name = 'success' if class_name == 'notice'
    .message{:class => class_name}
      %h3= key.to_s.capitalize + "!"
      %p= value
